// Base Font
$font-poppins: 'Poppins', sans-serif !default;


//text-color
$color-orange: #F05A22 !default;
$color-light-black: #222222 !default;
$color-dark-grey:#555555;
$color-white:#fff;
$color-black:#000;



//===== Paths =====//
$imgpath: "assets/images";
$webfonts: "../webfonts";

// Override variable
//$fa-font-path: "assets/webfonts";
 