@model DSWEBSITE_K13.Models.ViewModels.BlogBannerViewModel

<main>
    <div class="inner-banner position-relative color-white" style="background-image: url(assets/images/services-banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-banner-content">
                        <h2 class="inner-banner-heading">DotStark</h2>
                        <span class="inner-banner-heading">Wireframe Kit</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-latest-section position-relative">
                        <div class="blog-latest-section-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-latest-img.png" alt="blog-latest-img"></a>
                        </div>
                        <div class="blog-latest-content position-absolute color-white">
                            <span>Username / Subject</span>
                            <h3><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></h3>
                            <div class="blog-post-date position-absolute">
                                <p>March 8, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img1.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img2.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img1.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img1.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img2.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img1.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img3.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img1.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog-mini-detail">
                        <div class="blog-mini-img">
                            <a href="blog-detail.html"><img src="assets/images/blog-mini-img4.jpg" alt="blog-mini-img1"></a>
                        </div>
                        <div class="blog-mini-content">
                            <span>Username / Subject</span>
                            <div class="blog-mini-heading"><a href="blog-detail.html">Lorem Ipsum has been the industry's standard dummy text</a></div>
                            <p>March 8, 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
