 @{
    Layout = "_Layout";
}
@{ ViewData["Title"] = "Press Release"; }

@section metatags {
	<title>DotStark | Press Release</title>	
}

@section metatagspressrelease {
	<meta property='og:title' content='DotStark Technologies joins the Kentico Xperience Partner Program.' />
	<meta property='og:image' content='https://www.dotstark.com/img/socialmedia/pressrelease.jpg' />
	<meta property='og:description' content='DotStark is a team with a mixture of passion and experience, filled with people who love
			what they do, extremely curious and wants to know how everything works.' />
	<meta property='og:url' content='https://www.dotstark.com/press-release' />
	<meta property='og:site_name' content="DotStark Technologies" />
	<meta property='og:type' content="website" />

	<meta name='twitter:card' content='DotStark Technologies joins the Kentico Xperience Partner Program.' />
	<meta name='twitter:title' content='DotStark Technologies joins the Kentico Xperience Partner Program.' />
	<meta name='twitter:description' content='DotStark is a team with a mixture of passion and experience, filled with people who love
			what they do, extremely curious and wants to know how everything works.' />
	<meta name='twitter:url' content='https://www.dotstark.com/press-release' />
	<meta name='twitter:image' content='https://www.dotstark.com/img/socialmedia/pressrelease.jpg' />

}

<div class="detail-banner">

	<img src="~/img/Services/Detail/press-release-banner.jpg" />

</div>
<style>
	.padding-40 {
		padding: 40px 0 40px 0;
	}
</style>

<!-- mid section -->
<div class="midsection p-3">
	<div class="about-section p-0">
		<div class="container">
			<div class="row">
				<div class="col- col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
					<div class="about-details wow fadeInUp">
						<h1>Press Release</h1>

						<p class="padding-40">
							<strong>Media Contact:</strong><br />
							Sunil Sharma<br />
							DotStark Technologies LLP<br />
							+91-9887555559<br />
							sunil@dotstark.com<br />
							<a href="https://www.dotstark.com" target="_blank">www.dotstark.com</a><br />
						</p>

						<h2 class="padding-40">
							DotStark Technologies joins the Kentico Xperience Partner Program.
						</h2>

						<p>
							[Jaipur, India] - DotStark Technologies announced that they qualified as a Kentico Xperience Partner confirming their ability to provide clients with an award-winning digital experience platform.
						</p>
						<p>
							<strong><a href="https://www.dotstark.com" target="_blank">DotStark Technologies LLP</a></strong> is known for the delivery of qualities for your company services, troubleshooting, customer satisfaction, and also engaged in introducing new technologies, suggesting development platforms for better customer response, digital experience, and satisfaction. DotStark Technologies LLP chose <a href="https://xperience.io" target="_blank">Kentico Xperience</a> for their clients websites for its easy to use platform, lots of out of box features, cloud support and online marketing tools with an excellent support team. We opt Kentico platform for the ease of developing at our end and also the ease of updating the site at user's end without any dependence on the developer.
						</p>
						<p>
							We believes the expansion is perfectly aligned with the company’s mission to drive dramatic growth through sales performance improvement. To deliver its web services, DotStark Technologies has partnered with a renowned Market expert “Xperience by Kentico”.
						</p>
						<p>
							“Our customers come to us for high-quality websites and digital experiences that offer the most up-to-date features,” said Praveen Jasoria, Director, DotStark Technologies. “By using Kentico Xperience, we feel confident that we will be able to cover all our customers’ needs, deliver the project on time and keep it at a very affordable price.”
						</p>

						<p>
							Please feel free to ask our Marketing Team (<a href="mailto:sales@dotstark.com">sales@dotstark.com</a>) for a quote from us. <br />
							"It's important to choose the solution that's right for your web project, but success also depends on the skills and expertise of the company that delivers your website," said <strong>Dana Tousova, Director of Demand Generation at Kentico</strong>.<br />
							"Through this partnership, we are sure that the end users of our product will be provided with top-level professional services."
						</p>
						<p>


							<h2 class="padding-40">About DotStark Technologies</h2>

						<p>
							We are a high-performance agile team of fresh blood having a passion for technology, innovation and agility. Trust us we are really good analysts, problem solvers, amazing designers, great capabilities to impress the customers with our work and always have a customer-first approach.
						</p>
						<p>
							We work for both large and small companies to guarantee top-quality services. We don’t just deliver products, we create solutions for our Customers.
						</p>

						<p>
							Our Vision, Mission, and Goals are simple, to deploy (On Premises as well as on Cloud) Software Solutions that help companies manage their software projects better.
						</p>

						<h2 class="padding-40">About Kentico Xperience</h2>
						<p>
							<a href="https://xperience.io" target="_blank">Kentico Xperience</a> is the award-winning digital experience platform that combines content management, digital marketing, and commerce. Available on-premises or in the cloud, Kentico Xperience is an easy-to-use solution for modern websites. It provides personalized experiences and integrates seamlessly into any technology stack. Kentico Xperience empowers companies and brands to increase customer engagement, deliver personalized content to the right audience, and optimize performance to win more clients. Its advanced capabilities, short time to value, and ease of use are backed by market-leading support and a global network of implementation partners.
						</p>
						<p>
							<a href="https://xperience.io" target="_blank">Kentico Xperience</a> was first introduced in 2004 by Kentico Software, a technology company headquartered in the Czech Republic with offices in the US, UK, Netherlands, Singapore, and Australia. Kentico has more than 1,000 digital solution partners and powers over 30,000 websites across 120 countries. Customers using Kentico Xperience include Allergan, BDO, Konica Minolta, Land O’ Lakes, PPG, and Red Cross.
						</p>

						<p style="font-size:12px">
							All product and company names herein may be trademarks of their respective owners.
						</p>
						<p>

							<a href="https://www.dotstark.com" target="_blank">www.dotstark.com</a>


						</p>
                        <p>
                            Tags: #kenticoxperience, #kentico, #kentico13, #kenticocertified, #xperience13, #kenticoxperiencecertified, #xperiencecertified, #kenticopartner
                        </p>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- slider -->
</div>
<div class="clearfix"></div>

