@model DSWEBSITE_K13.Components.ViewComponents.CareerModel

<div class="career-banner position-relative" style="background-image: url(assets/images/career-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="career-banner-content color-white">
                    <h2>Current Openings</h2>
                    <p>We are looking for experienced, professionals, with a niche skills in their expertise. </p>
                    <ul>
                        <li>Magento Developer</li>
                        <li>Shopify Developer</li>
                        <li>Business Analyst</li>
                        <li>DotNet Developer</li>
                        <li>Mean/Mern Developer</li>
                        <li>PHP Developer</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="career-form">
                    <h3>Ready to sky-rocket your Career<span>?</span></h3>
                    <p>Please provide as much information as possible and we'll contact you within 24 hours to advise you our next steps forward for the Recruitment.</p>
                    <form method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Full Name<span>*</span></label>
                                    <input type="text" value="" placeholder="">
                                </div>
                                <div class="col-lg-6">
                                    <label>Email<span>*</span></label>
                                    <input type="email" value="" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Mobile Number<span>*</span></label>
                                <div class="mobile-dropdown position-relative">
                                    <img src="/assets/images/arrow-down.svg" alt="career-arrow-down" class="position-absolute">
                                    <select>
                                        <option>India (+91)</option>
                                    </select>
                                </div>
                                <input type="number" value="" placeholder="Enter Your Mobile Number..." class="popup-number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="position-relative">
                                        <img src="/assets/images/arrow-down-apply.svg" alt="career-arrow-down" class="position-absolute career-apply-arrow">
                                        <label>Apply For<span>*</span></label>
                                        <select>
                                            <option>UI-UX</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="position-relative">
                                        <img src="/assets/images/arrow-down-apply.svg" alt="career-arrow-down" class="position-absolute career-apply-arrow">
                                        <label>Year of Experience<span>*</span></label>
                                       @* <select>
                                            <option>0-1</option>
                                        </select>*@
                                         <input type="number" value="" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group file-attachment-submit-section text-center">
                            <div class="file-attachment position-relative">
                                <img src="/assets/images/file-attachment.svg" alt="file-attachment" class="position-absolute">
                                <input type="file">
                            </div>
                            <div class="submit-btn">
                                <button class="btn primary-btn">submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs position-absolute" id="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#benefits">Benefits</a></li>
                <li><a href="#innovation">Innovation</a></li>
                <li><a href="#fun">fun</a></li>
                <li><a href="#our-values">Values</a></li>
                <li><a href="#join-us">Join Us</a></li>
            </ul>
            <div class="contact-call-action-btn">
                <a data-bs-toggle="modal" data-bs-target="#contact-us-popup">Contact us</a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="benefits-section section" id="benefits">
            <div class="benefits-content float-lg-start">
                <h3>Benefits</h3>
                <p>Our very own Kentico certified team - focused on all things Kentico, we can deliver digital transformation from a very sound base. We develop Kentico projects primarily with MVC architecture. However, we can maintain and develop projects based on Kentico Portal Engine. We know how to get the very best out of the Kentico platform and ensure our clients have the most commercial digital solution possible.</p>
            </div>
            <div class="benefits-img float-lg-end">
                <img src="/assets/images/services-img1.jpg" alt="services-img1.jpg">
            </div>
        </div>
        <div class="benefits-section section" id="innovation">
            <div class="benefits-content float-lg-end">
                <h3>Innovation</h3>
                <p>Our very own Kentico certified team - focused on all things Kentico, we can deliver digital transformation from a very sound base. We develop Kentico projects primarily with MVC architecture. However, we can maintain and develop projects based on Kentico Portal Engine. We know how to get the very best out of the Kentico platform and ensure our clients have the most commercial digital solution possible. </p>
            </div>
            <div class="benefits-img float-lg-start">
                <img src="/assets/images/services-img1.jpg" alt="services-img1.jpg">
            </div>
        </div>
        <div class="benefits-section section" id="fun">
            <div class="benefits-content float-lg-start">
                <h3>Fun</h3>
                <p>Our very own Kentico certified team - focused on all things Kentico, we can deliver digital transformation from a very sound base. We develop Kentico projects primarily with MVC architecture. However, we can maintain and develop projects based on Kentico Portal Engine. We know how to get the very best out of the Kentico platform and ensure our clients have the most commercial digital solution possible.</p>
            </div>
            <div class="benefits-img float-lg-end">
                <img src="/assets/images/services-img1.jpg" alt="services-img1.jpg">
            </div>
        </div>
    </div>
</div>
<div class="section values-section" id="our-values" style="background-image: url(assets/images/career-values-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8">
                <div class="our-values color-white">
                    <ul>
                        <li><img src="/assets/images/values-icon.svg" alt="values-icon"> Treat every failure as a learning opportunity</li>
                        <li><img src="/assets/images/values-icon.svg" alt="values-icon"> Fertilize innovation with customer listening</li>
                        <li><img src="/assets/images/values-icon.svg" alt="values-icon"> Bring simplicity to all that is complex</li>
                        <li><img src="/assets/images/values-icon.svg" alt="values-icon"> Be bold</li>
                        <li><img src="/assets/images/values-icon.svg" alt="values-icon"> Build honest and transparent relationships</li>
                        <li><img src="/assets/images/values-icon.svg" alt="values-icon"> Be passionate but keep the fun in the workday</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section join-us" id="join-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading text-center">
                    <h2>Join Us</h2>
                    <p>Contrary to popular belief, Lorem Ipsum</p>
                </div>
                <div class="join-us-accordion">
                    <div class="accordion" id="job-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="jobheadingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#job-accordion1" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="job-heading">
                                        <h3>Talent Acquisition Executive</h3>
                                        <span>2 opening</span>
                                    </div>
                                    <div class="job-location">
                                        <p>Location: Jaipur, India</p>
                                        <span>Remote work</span>
                                    </div>
                                    <div class="job-opening-arrow">
                                        <img src="/assets/images/job-opening-arrow.svg" alt="job-opening-arrow">
                                    </div>
                                </button>
                            </h2>
                            <div id="job-accordion1" class="accordion-collapse collapse show" aria-labelledby="jobheadingOne" data-bs-parent="#job-accordion">
                                <div class="accordion-body join-us-content">
                                    <h4>ASP.NET Developer</h4>
                                    <span>No. of vaccancies: 2 </span>
                                    <span>Location: Jaipur</span>
                                    <h6>Responsibilities:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                    <h6>Qualification required:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="jobheadingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#job-accordion2" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="job-heading">
                                        <h3>Sr. ASP.NET Developer</h3>
                                        <span>1 opening</span>
                                    </div>
                                    <div class="job-location">
                                        <p>Location: Jaipur, India</p>
                                        <span>Remote work</span>
                                    </div>
                                    <div class="job-opening-arrow">
                                        <img src="/assets/images/job-opening-arrow.svg" alt="job-opening-arrow">
                                    </div>
                                </button>
                            </h2>
                            <div id="job-accordion2" class="accordion-collapse collapse" aria-labelledby="jobheadingTwo" data-bs-parent="#job-accordion">
                                <div class="accordion-body join-us-content">
                                    <h3>Sr. ASP.NET Developer</h3>
                                    <span>No. of vaccancies: 2 </span>
                                    <span>Location: Jaipur</span>
                                    <h6>Responsibilities:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                    <h6>Qualification required:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="jobheadingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#job-accordion3" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="job-heading">
                                        <h3>Manual/ Automation Tester</h3>
                                        <span>2 opening</span>
                                    </div>
                                    <div class="job-location">
                                        <p>Location: Jaipur, India</p>
                                        <span>Remote work</span>
                                    </div>
                                    <div class="job-opening-arrow">
                                        <img src="/assets/images/job-opening-arrow.svg" alt="job-opening-arrow">
                                    </div>
                                </button>
                            </h2>
                            <div id="job-accordion3" class="accordion-collapse collapse" aria-labelledby="jobheadingThree" data-bs-parent="#job-accordion">
                                <div class="accordion-body join-us-content">
                                    <h4>Interns</h4>
                                    <span>No. of vaccancies: 2 </span>
                                    <span>Location: Jaipur</span>
                                    <h6>Responsibilities:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                    <h6>Qualification required:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="jobheadingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#job-accordion4" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="job-heading">
                                        <h3>Talent Acquisition Executive</h3>
                                        <span>2 opening</span>
                                    </div>
                                    <div class="job-location">
                                        <p>Location: Jaipur, India</p>
                                        <span>Remote work</span>
                                    </div>
                                    <div class="job-opening-arrow">
                                        <img src="/assets/images/job-opening-arrow.svg" alt="job-opening-arrow">
                                    </div>
                                </button>
                            </h2>
                            <div id="job-accordion4" class="accordion-collapse collapse" aria-labelledby="jobheadingFour" data-bs-parent="#job-accordion">
                                <div class="accordion-body join-us-content">
                                    <h4>Interns</h4>
                                    <span>No. of vaccancies: 2 </span>
                                    <span>Location: Jaipur</span>
                                    <h6>Responsibilities:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                    <h6>Qualification required:</h6>
                                    <ul>
                                        <li>Write clean, scalable code using .NET programming language.</li>
                                        <li>
                                            Remain up to date with the terminology, concepts and best
                                            practices for coding.
                                        </li>
                                        <li>Flexible to work on any technology if required.</li>
                                        <li>Use and adapt existing web applications for apps.</li>
                                        <li>
                                            Assist software personnel in handling project related work and
                                            other requirements.
                                        </li>
                                        <li>Coordinate with other software professionals and developers.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>