<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <page-builder-styles />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <page-builder-scripts />
</body>
</html>
